.homepage{
    background-image: url('/homebg.png');
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 100vh;
    height: 100%;
}

.text{
    padding: 200px 80px 80px;
    color: white;
    width: 60%;
}

.text h1{
    font-weight: 700;
    font-size: 36px;
    margin-bottom: 24px;
}

.text p{
    font-weight: 300;
    font-size: 14px;
}

@media screen and (max-width:720px) {
    .text{
        width: 80%;
    }
}

@media screen and (max-width:450px) {
    .text{
        width: 100%;
        padding: 200px 20px;
    }
}