.inputs {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    row-gap: 32px;
    column-gap: 24px;
}

.inputDiv,
.inputDivFull {
    position: relative;
    display: flex;
    gap: 8px;
    padding-bottom: 12px;
    border-bottom: 1px solid #D7D7D7;
    column-span: 1;
}

.inputDivFull {
    width: 100%;
    margin-top: 32px;
    margin-bottom: 60px;
}

.inputDiv input,
.inputDivFull input {
    border: none;
    background-color: inherit;
    outline: none;
    font-size: 16px;
    color: #212121;
}

.button {
    background: rgb(111, 77, 233);
    background: linear-gradient(90deg, rgba(111, 77, 233, 1) 0%, rgba(75, 175, 173, 1) 100%);
    color: white;
    border: none;
    border-radius: 14px;
    padding: 12px 50px;
    font-size: 20px;
    cursor: pointer;
    font-weight: 300;
}