.header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
    height: 120px;
    background-color: inherit;
    gap: 50px;
    padding-left: 80px;
    padding-right: 100px;
}

.links{
    display: flex;
    gap: 40px;
}

.links a{
    color: white;
    text-decoration: none;
}